* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background:
    /* Using absolute path, assume this image is there */
    url('/bg.webp') repeat, 
    radial-gradient(ellipse at center, #555555, #000000);
}